<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="bg"
       style="background-image: url(https://statics.vntrip.vn/data-v2/hotels/42889/img_max/42889_1567053898_img_3258.jpg);">
    <a class="navbar-brand" routerLink="/home">HTTP</a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" routerLinkActive="active" type="submit">
        Login
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/signin" routerLinkActive="active" type="submit">
        Sign Up
      </button>
    </form>
  </div>
</nav>
